/*
	*= require simple_calendar
	*= require material_icons
	*= require rails_bootstrap_forms
*/

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.container-custom{
	padding:0 35px 0 35px;
}
*{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
.title{
	font-family: 'Staatliches', cursive;
}

#simpleCalendar{
	.calendar-heading{
		text-align:center;
		.calendar-title{
			font-weight:600;
			font-size:2rem;
			font-family: 'Staatliches', cursive;
		}
	}
	.simple-calendar{
		tbody{
			tr{
				height:7rem;
			}
		}

	}
}

.bold-underline{
	font-weight:600;
	text-decoration: underline;
}
.smaller-font{
	font-size:12px;
}
.italics{
	font-style: italic;	
}
.remove-links{
	color:#000;
}
