<!DOCTYPE html>
<html>
<head>
	<title><%= this %></title>
	<%= wicked_pdf_stylesheet_link_tag "application.css" -%>
	<style type="text/css">
		*{
			font-size:16px!important;
		}
	</style>
</head>
<body>
	<h2 class='title'><%= this %></h2>
	<%= render partial: 'table', locals:{this:this,this_one:nil} %>
</body>
</html>